<!DOCTYPE html>
<html ng-app='vemPraRua'>
<head>
  <title>VemPraRua</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9qzGHxiCcbqQP-lwobg-BMDlircBa7Ec&sensor=false">
	</script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
			.angular-google-map {
				display: block;
			}
    </style>
    <script type="text/javascript">			
      var app = {
          base: '/',
          api: '/api/'
          };
    </script>
  </head>
  <body ng-controller="MapCtrl">
<div class="google-map" 
		center="position.coords"
		zoom="zoomProperty"
		markers="markers"
		latitude="clickedLatitudeProperty"
		longitude="clickedLongitudeProperty"
		draggable="true"
		events="eventsProperty"
		style="height: 100%; width: 100%">
	</div>
		<debug>{{total}} Manifestantes.!</debug>
  </body>
</html>
