<!DOCTYPE html>
<html>
<head prefix="og:http://ogp.me/ns# og_recipebox: http://ogp.me/ns/apps/vempraruaapp#">
  <meta property="fb:app_id" content="647377431958376" />
  <title>VemPraRua</title>
    <style type="text/css">
      html {
        height: 100%;
      }
      
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #map-canvas {
        height: 100%;
      }
      
      #header {
        position: absolute;
        top:0;
        right: 0;
        width: 17%;
        height: 100%;
        background: #333333;
      }
      
      #facebook-login-lnk {
        position: relative;
        top: 77%;
        right: 8%;
      }
      
      #fb {
        background: none repeat scroll 0 0 #FFFFFF;
        display: inline-block;
        position: absolute;
        right: 0.3%;
        top: 25%;
      }
      
      #facebook-profile {
        position: absolute;
        top: 30%;
        right: 5%;
      }
    </style>

    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9qzGHxiCcbqQP-lwobg-BMDlircBa7Ec&sensor=false">
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/assets/app.css" />
    <script type="text/javascript">
      function initialize() {
        var markers = [];
        var mapOptions = {
          center: new google.maps.LatLng(-23.558362, -46.635381),
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI: true,
          scaleControl: true,
          zoomControl: true
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
            
        $.ajax({
          url: '/api/users',
          method: 'GET'
        })
        .done(function (data) {
          var infoWindow;
          $('#debug').html(data.users.length + ' manifestantes!');
          if (data.users) {
            $.each(data.users, function (i, user) {
              if (user.latitude != 0.0 && user.longitude != 0.0) {
							  if (user.status) {
							    infoWindow = new google.maps.InfoWindow({content: "<b>" + user.name + ":</b> " + user.status});
							  } else {
							    infoWindow = new google.maps.InfoWindow({content:"<b>" + user.name + "</b>"});
							  }
							  
							  var marker = new google.maps.Marker({
                  position: new google.maps.LatLng(user.latitude, user.longitude),
                  title: user.name,
                  icon: '/assets/pin.png',
                  infoWindow: infoWindow
                });
                markers.push(marker);
                
							  marker.setMap(map);
							  google.maps.event.addListener(marker, 'click', function () {
							    for (var i = 0; i < markers.length; i++) {
							       markers[i].infoWindow.close();
							    }
							    this.infoWindow.open(map, this);
                });
							}
            });
          }
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
      
      $(function () {
        FB.api('/me', function(response) {
          if (response.name) {
            FB.api("/me/picture?width=70&height=70",  function(response) {
              $('#profile-picure').attr({'src': response.data.url});
            }); 
            $('#facebook-login-lnk').hide();
          }
        });
        $('#facebook-login-lnk').click(function (e) {
          e.preventDefault();
          FB.login(function (response) {
            alert(response);
          });
        });
      });
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="debug"></div>
    <div id="header">
      <div id="fork-me-container">
      <a href="https://github.com/fitus/VemPraRua-API" target="_blank">
        <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
      </a>
    </div>
      <a id="facebook-login-lnk" href="#">
        <img src="/assets/Large_230x36.png" />
      </a>
      <div id="facebook-profile" style="display:none">
        <p>
          <img id="profile-picure" src="" align="left" />
        </p>
      </div>
    </div>
    <div
      id="fb"
      class="fb-like-box"
      data-href="https://www.facebook.com/vempraruaapp"
      data-width="210"
      data-height="230"
      data-show-faces="true"
      data-stream="false"
      data-show-border="true"
      data-header="true">
    </div>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-41928786-1', 'k3x.org');
      ga('send', 'pageview');
    </script>
    <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '647377431958376',                               // App ID from the app dashboard
      channelUrl : 'http://vemprarua.k3x.org/assets/channel.html', // Channel file for x-domain comms
      status     : true,                                          // Check Facebook Login status
      xfbml      : true                                          // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
  };

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
  </body>
</html>
