<%= content_for :title do %>Encontre alguém na Campus Party Brasil<% end %>

<% content_for :head do %>
  <% end %>

  <% content_for :map do %>
      <div id="map_canvas" class="" style="margin-top:40px; width:100%; height:100%; position:absolute; z-index:-1;"></div>
    <% end %>

    <div id="home-main" class="hero-unit">
        <h1>VEM PRA RUA</h1>
        <br/>
        <div id="home-main-content">
          <p>
            Encontre alguém<br/>
            na Campus Party Brasil #CPBR6<br/>
          </p>
          <br/>
          <p>
            <%= link_to "Visualizar Mapa", "#", class: "btn btn-primary btn-large", :onclick => "showMap();" %>
          </p>
        </div>
      </div>

      <%= render "shared/map" %>
